# exclude trial files
scrap*
devel*
# exclude temporary files MATLAB creates
*.m~
*.asv
# exclude zip files
*.zip
# exclude data directories to avoid killing the server
tests/data/*/*
tests/data/*
# allow test data for assimilation test
!tests/data/example/*
# re-disable test outputs
tests/data/example/example_output/*
*.spyproject
*.scrap
*.vscode
.vscode/
*.pytest_cache
*__pycache*
*egg-info*
*.lock
profile_output*
# Python
*.pyc
env/
dist/
docs/_*




